extends layout

block content
  nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
    .container-fluid
      a.navbar-brand(href='/') Voodie
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mb-2.mb-md-0
          li.nav-item.active
            a.nav-link(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link(href='#') Features
        a.btn.btn-outline-success(href="/login" role="button") Login

  login.container
    form.form-signin
      h1.h3.mb-3.font-weight-normal Login
      label.sr-only(for='inputEmail')
      input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
      label.sr-only(for='inputPassword')
      input#inputPassword.form-control(type='password' placeholder='Password' required='')
      button.btn.btn-lg.btn-primary.btn-block(href='/homepage' type='submit') Sign in
      br
      p Are you new here?
      a(class='button' href='/signup') Make an account
