extends layout

block content
  h1 #{foodie.name}
  h2 Recipes:
  each recipe in foodie.recipes
    if foodie.recipes.length == 0
      p no recipes yet!
    else
      p #{foodie.recipes.map(recipe => recipe.name).join(', ')}

  h2 Favorited Recipes:
  each recipe in foodie.favoritedRecipes
    if foodie.favoritedRecipes.length == 0
      p no favorites yet!
    else
      p #{foodie.favoritedRecipes.map(recipe => recipe.name).join(', ')}