extends layout

block content
  h1= title
  form(action='/signup' name='signup-form' method='POST')
    p Email
    input(type='email' name='email' autofocus)

    p Password
    input(type='password' name='password' autofocus)
    p
    input(type='submit' href='/homepage' value='Sign Up')

  p Already have an account?
  a(class='button' href='/login') Login
